.footer{
  background: #000;
  padding: 0 25px;
  .container {
    max-width: 1198px;
    margin: 0 auto
  }
  &__body{
    h2 {
      color: #FEFEFE;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.37;
      text-align: center;
      text-transform: uppercase;
      padding: 66px 0 22px;
      @media screen and (max-width: 768px) {
        padding: 57px 0 22px;
      }
      @media screen and (max-width: 320px) {
        font-size: 14px;
        line-height: 1.57;
        padding: 38px 0 8px;
      }
    }
    p {
      color: #B9B9B9;
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.75;
      padding-bottom: 37px;
      max-width: 684px;
      margin: 0 auto;
      @media screen and (max-width: 320px) {
        font-size: 12px;
        line-height: 1.66;
        padding-bottom: 26px;
      }
      .hiden {
        display: inline-block;
        @media screen and (max-width: 320px) {
          display: none;
        }
      }
    }
    &_list{
      display: flex;
      justify-content: center;
      column-gap: 6px;
      padding-bottom: 34px;
      @media screen and (max-width: 320px) {
        padding-bottom: 25px;
      }
    }
    .footer__text {
      display: block;
      color: #B9B9B9;
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.62;
      padding-bottom: 70px;
      @media screen and (max-width: 768px) {
        padding-bottom: 57px;
      }
      @media screen and (max-width: 320px) {
        max-width: 210px;
        margin: 0 auto;
        font-size: 14px;
        line-height: 1.71;
        padding-bottom: 47px
      }
      
    }
  }
}