
.body{
  font-family: 'Roboto', sans-serif;
}
.nav{
  margin: 45px 0 51px;
  @media screen and (max-width: 820px) {
    margin: 41px 0 43px;
  }
  @media screen and (max-width: 533px) {
    margin: 24px 0;
  }
  
  .container {
    max-width: 1170px;
    margin: 0 auto;
  }
  &__body{
    @media screen and (max-width: 533px) {
      display: none;
    }
    &_list{
      @include flex-jc;
      column-gap: 68px;
      color: #4E4E4E;
    font-size: 11px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 1.1px;
    text-transform: uppercase;

    @media screen and (max-width: 820px) {
      column-gap: 45px;
    }
    @media screen and (max-width: 768px) {
      column-gap: 34px;
    }
    @media screen and (max-width: 624px) {
      column-gap: 20px;
    }
  }
  &_list > :first-child{
    color: #57A4A4;
  }
  }

  &__burger-menu{
    position: relative;
    display: none;
    padding-right: 28px;

    @media screen and (max-width: 533px) {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    &_list{
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      top: 37px;
      background-color: #F5F5F5;
      color: #4E4E4E;
      font-size: 11px;
      line-height: 22px;
      letter-spacing: 1.1px;
      text-transform: uppercase;

      li {
        padding: 2px 80px 2px 12px;
        transition: background-color 0.3s;

        &:hover{
          background-color:#b6b6b6;
        }
      }
      &.hide{
        display: none;
      }
    }
    &_list > :first-child{
      color: #57A4A4;
    }

  }
 
}

.hide{
  display: none;
}





// Burger
/*
.icon-menu {
  display: none;

  @include mediaMx(768) {
    display: block;
    position: relative;
    width: rem(30);
    height: rem(18);
    cursor: pointer;
    z-index: 5;

    span,
    &::before,
    &::after {
      content: "";
      transition: all 300ms ease 0ms;
      right: 0;
      position: absolute;
      width: 100%;
      height: rem(2);
      background-color: #000;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      top: calc(50% - rem(1));
    }

    .menu-open & {
      span {
        width: 0;
      }

      &::before {
        top: calc(50% - rem(1));
        transform: rotate(-45deg);
      }

      &::after {
        bottom: calc(50% - rem(1));
        transform: rotate(45deg);
      }
    }
  }
}
*/
