.background{
   margin-bottom: 66px;
   padding: 0 28px;
   @media screen and (max-width: 768px){
      margin-bottom: 56px;
   }
   @media screen and (max-width: 320px) {
      margin-bottom: 38px;
   }
    .container {
        max-width: 1198px;
        margin: 0 auto
   }
   &__body img{
    max-width: 100%;
    
   }
}

.posts{
   padding: 0 28px;
   margin-bottom: 69px;
   @media screen and (max-width: 768px){
      margin-bottom: 60px;
   }
   @media screen and (max-width: 320px) {
      margin-bottom: 39px;
   }
   .container {
      max-width: 1198px;
      margin: 0 auto
 }
   &__body{
      &_title{
         @include ds-title;
         font-weight: 700; 
         text-transform: uppercase;
         margin-bottom: 24px;
         @media screen and (max-width: 320px) {
            @include mob-title;
         }
      }
      &_grid{
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         row-gap: 32px;
         column-gap: 55px;

         @media screen and (max-width: 768px) {
            grid-template-columns: 1fr;
         }
         @media screen and (max-width: 320px) {
            grid-template-columns: 160px;
            row-gap: 15px;
            li:last-child {
               display: none;
             }
         }

         li {
            display: flex;
            column-gap: 21px;
            @media screen and (max-width: 532px) {
               display: flex;
               flex-direction: column;
            }
         }
      }
      &_item{
         @media screen and (max-width: 768px) {
            max-width: 395px;
         }
         @media screen and (max-width: 320px) {
            overflow: visible;
            white-space: nowrap;
         }
         h3 {
            @include ds-subtitle;
            font-weight: 700;
           
            @media screen and (max-width: 320px) {
               @include mob-subtitle;;
               padding-top: 11px;
            }
         }
         span {
            @include ds-info;
            display: inline-block;
            font-weight: 400;
            padding-bottom: 13px;
            @media screen and (max-width: 320px) {
               @include mob-info;
            }          
         }
         p {
            color: #5C5C5C;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.85;

            @media screen and (max-width: 532px) {
               display: none;
            }
         }
      }
   }
}
.shots{
   background: rgb(0, 0, 0, 0.029999999329447746);
   padding: 0 28px 49px;
   @media screen and (max-width: 320px) {
      padding-bottom: 42px;
   }
   .container {
      max-width: 1198px;
      margin: 0 auto
 }
 &__body{
   &_head{
      @include flex-sb;
      padding: 47px 0 24px;
      @media screen and (max-width: 768px) {
         padding: 47px 0 35px;
      }
      @media screen and (max-width: 320px) {
         padding: 38px 0 13px;
      }
      h2{
         @include ds-title;       
         font-weight: 700;
         text-transform: uppercase;
         @media screen and (max-width: 320px) {
            @include mob-title;
         }
      }
      a{
         color: #4E4E4E;
         font-size: 12px;
         font-weight: 700;
         line-height: 1.83;
         text-transform: uppercase;
         @media screen and (max-width: 320px) {
            display: none;
         }
      }
   }
   &_img {
      @include flex-jc;
      column-gap: 8px;
      img {
      @media screen and (max-width: 768px) {
         max-width: 250px;
         max-height: 250px;
         }
      }
      img:last-child {
      @media screen and (max-width: 768px) {
         display: none;
         }
      }
      img:nth-child(3) {
      @media screen and (max-width: 321px) {
         display: none;
         }
      }
      img:nth-child(2) {
      @media screen and (max-width: 321px) {
         display: none;
         }
   }
      }}}